ul.grid-with-central-card {
    --height-photos: 30vh;
    --number-columns: 5;
    --span: 3;
    --col-start: 2;
    
    display: grid;
    justify-content: center;
    grid-template-rows: var(--height-photos);
    grid-template-columns: repeat(auto-fill, calc( var(--height-photos) / 1.5));
    gap: 20px;
    margin: 20px;
}

ul.grid-with-central-card li {
}

ul.grid-with-central-card li.central-card {
    grid-row: 2 / span 1;
    grid-column: var(--col-start) / span var(--span);
}