
ul.grid-with-central-card {
    --height-photos: 30vh;
    --grid-col:  start / end;
    
    display: grid;
    justify-content: center;
    grid-template-rows: var(--height-photos);
    grid-template-columns: repeat(auto-fill, calc( var(--height-photos) / 1.5));
    gap: 20px;
    margin: 20px;
}

ul.grid-with-central-card li.central-card {
    grid-row: 2 / span 1;
    grid-column: var(--grid-col);
}

/* used to place the intro card among the grid */

:root {
    --height-photos: 30vh;
    --number-columns: 5;
    --outer-padding: calc( 2 * 1.0875rem );
    --margin-around-grid: calc( 2 * 20px);
    --space-around-grid: calc( var(--margin-around-grid) + var(--outer-padding) );
    --width-card-with-margin: calc( (30vh / 1.5) + ( 2 * 10px) );
    --non-existant-gap-around-grid: calc( 2 * 20px);
    --five-cards-width-with-gaps: calc( 5 * var(--width-card-with-margin) );
}

.five-cards {
    width:  calc( ( 5 * var(--width-card-with-margin ) + var(--space-around-grid)) );
}
.seven-cards {
    width:  calc( ( 7 * var(--width-card-with-margin ) + var(--space-around-grid)) );
}

/* and of the trick to place the intro card among the grid */
