body {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--color-gray);
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  letter-spacing: 0.04em;
}

p {
  color: var(--p-color-gray);
  letter-spacing: 0.02em;
}